*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    padding: 44px 116px;
    width: 550px;
    height: 868px;
    margin: 0 auto;
    background: #23252C;
    text-align: center;

}

.container > .card{
    border-radius: 10px;
    width: 317px;
    text-align: center;
    background: #F5F5F5;
    margin-bottom: 0;
}

.personimg{
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
    background: #F5F5F5;
    margin-bottom: 20px;
}

.Info > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #2B283A;
    margin-bottom: 6px;
}

.Info > h5{
    color: #F47D27;
    text-align: center;
    font-size: 12.8px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;
}

.Info > h6{
    color: #4A4E74;
    text-align: center;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 17px; 
}

.Info > .infobuttons{
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
}

.infobuttons > a {
    text-decoration: none;
}

.infobuttons > .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 115px;
    border-radius: 6px;
    padding: 9px 13px;
    border: 1px solid #D1D5DB;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.button > img {
    width: 16px;
    height: 16px;
}

.button > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
  
}

#mailbutton{
    border: none;
    color: #374151;
}

#linkedinbtn{
    border: none;
    background-color: #297FE5;
    color: #FFFFFF;
}

.card > .content {
    margin: 25px 35px;
    text-align: left;
}

.content > .cardabout {
    margin-bottom: 20px;
}
  
.cardabout > h4 {
    color: #2B283A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px; 
}

.cardabout > p {
    color: #4A4E74;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.cardinterests > h4{
    color: #2B283A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px; 
}

.cardinterests > p{
    color: #4A4E74;
    font-family: Inter;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.cardfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 72px;
    Width: 317px;
    background: #D5D4D8;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}

.cardfooter > img{
    width: 25px;
    height: 25px;
}